<div class="row justify-content-between">
  <div class="col-5 py-5" *ngFor="let pc of montagens;let i = index">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pedido Número: {{ i + 1 }}</h5>
        <ul>
          <strong>Processador:</strong>
          <ul>
            <li>Modelo: {{pc.processor.product}}</li>
            <li>Marca: {{pc.processor.brand}}</li>
          </ul>
        </ul>
        <ul>
          <strong>Placa Mãe:</strong>
          <ul>
            <li>Modelo: {{pc.motherBoard.product}}</li>
            <li>Suporte a processadores: {{pc.motherBoard.supportedProcessors}}</li>
            <li>Memória total suportada: {{pc.motherBoard.totalSupportedMemoryRAM}}GB</li>
            <li>Video integrado: {{pc.motherBoard.integratedVideo === false ? 'Não' : 'Sim'}}</li>
          </ul>
        </ul>
        <ul>
          <strong>Memórias RAM:</strong>
          <ul *ngFor="let memoria of pc.memoryRAM;">
            <li>Modelo: {{memoria.product}}</li>
            <span>Tamanho: {{memoria.size}}GB</span>
          </ul>
        </ul>
        <ul>
          <strong>Placa de Video:</strong>
          <ul>
            <li>Modelo: {{pc.videoBoard.product}}</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
