<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="card" style="width: 22rem;">
        <h4 class="card-title text-center py-3">Silvertec Informática</h4>
      <div class="card-body" *ngIf="isClient">
        <div class="form-group">
          <label for="client_name">Nome</label>
          <input [(ngModel)]="client.username" type="text" class="form-control" id="client_name"
                 placeholder="Seu nome">
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input [(ngModel)]="client.password" type="password" class="form-control" id="password" placeholder="Senha">
        </div>
      </div>
      <div class="card-body" *ngIf="!isClient">
        <div class="form-group ">
          <label for="client_register_name">Nome</label>
          <input [(ngModel)]="client_register.username" type="text" class="form-control" id="client_register_name"
                 placeholder="Seu nome">
        </div>
        <div class="form-group">
          <label for="client_register_email'">E-mail</label>
          <input [(ngModel)]="client_register.email" type="email" class="form-control" id="client_register_email'"
                 placeholder="Seu e-mail">
        </div>
        <div class="form-group">
          <label for="password1">Senha</label>
          <input [(ngModel)]="client_register.password1" type="password" class="form-control" id="password1" placeholder="Senha">
        </div>
        <div class="form-group">
          <label for="password2">Digite sua senha novamente</label>
          <input [(ngModel)]="client_register.password2" type="password" class="form-control" id="password2" placeholder="Senha">
        </div>
      </div>
      <div class="card-body">
        <button *ngIf="isClient" type="submit" class="btn btn-primary" (click)="login()">Login</button>
        <button *ngIf="!isClient" type="submit" class="btn btn-primary" (click)="createAcount()">Registrar</button>
        <button *ngIf="isClient" type="submit" class="btn btn-link float-right" (click)="changeForm()">Registrar-se</button>
        <button *ngIf="!isClient" type="submit" class="btn btn-link float-right" (click)="changeForm()">Fazer login</button>
      </div>
    </div>
  </div>
</div>


