<div class="row justify-content-center">
  <div class="col-6 pt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Monte seu computador</h5>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="exampleFormControlSelect1">processor</label>
            <select
              class="form-control"
              id="exampleFormControlSelect1"
              formControlName="processor"
              (change)="changeComponent('processor')">
              <option selected value="null">Escolha um processador</option>
              <option *ngFor="let item of components.processor" value="{{item.id}}">{{ item.product }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">motherBoard</label>
            <select
              class="form-control"
              id="exampleFormControlSelect2"
              formControlName="motherBoard"
              (change)="changeComponent('motherBoard')"
            >
              <option selected value="null">Escolha uma Placa Mãe</option>
              <option *ngFor="let item of components.motherBoard;" value="{{item.id}}">{{ item.product }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect4">memoryRAM</label>
            <select
              multiple
              class="form-control"
              id="exampleFormControlSelect4"
              formControlName="memoryRAM"
              (change)="changeComponent('memoryRAM')"
            >
              <option selected value="null">Escolha algumas memórias</option>
              <option *ngFor="let item of components.memoryRAM;" value="{{item.id}}">{{ item.product }}-{{item.size}}
                GB
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect3">videoBoard</label>
            <select
              class="form-control"
              id="exampleFormControlSelect3"
              formControlName="videoBoard"
              (change)="changeComponent('videoBoard')"
            >
              <option selected value="null">Escolha uma placa de video</option>
              <option *ngFor="let item of components.videoBoard;" value="{{item.id}}">{{ item.product }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Fazer Pedido</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-6 pt-5">
    <h5 class="card-title">Componentes:</h5>
    <ul *ngIf="current.processor !== null">
      <strong>Processador:</strong>
      <ul>
        <li>Modelo: {{components.processor[current.processor].product}}</li>
        <li>Marca: {{components.processor[current.processor].brand}}</li>
      </ul>
    </ul>
    <ul *ngIf="current.motherBoard !== null">
      <strong>Placa Mãe:</strong>
      <ul>
        <li>Modelo: {{components.motherBoard[current.motherBoard].product}}</li>
        <li>Suporte a processadores: {{components.motherBoard[current.motherBoard].supportedProcessors}}</li>
        <li>Memória total suportada: {{components.motherBoard[current.motherBoard].totalSupportedMemoryRAM}}GB</li>
        <li>Video integrado: {{components.motherBoard[current.motherBoard].integratedVideo === false ? 'Não' : 'Sim'}}</li>
      </ul>
    </ul>
    <ul *ngIf="current.memoryRAM.length !== 0">
      <strong>Memórias RAM:</strong>
      <ul *ngFor="let memoriaIndex of current.memoryRAM;">
        <li>Modelo: {{components.memoryRAM[memoriaIndex].product}}</li>
        <span>Tamanho: {{components.memoryRAM[memoriaIndex].size}}GB</span>
      </ul>
    </ul>
    <ul *ngIf="current.videoBoard !== null">
      <strong>Placa de Video:</strong>
      <ul>
        <li>Modelo: {{components.videoBoard[current.videoBoard].product}}</li>
      </ul>
    </ul>
  </div>
</div>

