<!--The content below is only a placeholder and can be replaced.-->
<nav *ngIf="showMenu" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Silvertec Informática</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/monte-seu-pc']" routerLinkActive="active">Monte seu pc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/meus-pcs']" routerLinkActive="active">Meus pcs</a>
        </li>
        <li >
          <button (click)="logout()" type="button" class="btn btn-primary">Sair</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <h5 *ngIf="showMenu" class="pt-3">Bem-Vindo! {{client.user_name}}</h5>
  <router-outlet></router-outlet>
</div>
<!--<app-montagem></app-montagem>-->

